.login-card {
    margin-top: 1.5em;
    /*align-items: center;*/
}

.login-title {
    font-size: 2.2em;
    padding: 0.5em 0 0 0.5em;
}

.form-label {
    font-size: 1em;
    font-weight: bold;
}

.login-row {
    padding: 0.5em 0.75em 0.5em 0.75em;
    margin-bottom: 0.3em;
}

.login-button {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}